<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="filepath" value ="C:\TextDatabases\TournamentTracker"/>
  </appSettings>
  <connectionStrings>
    <add name ="Tournament" connectionString="server=localhost; Port = 3306; database=tournament3; user=root; password=root;" />
    

  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>